    body{
        display: flex;
        flex-direction: column;
    }
    button {
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }
    .position_clicker{
        margin-top: 280px;
        margin-left: 230px;
    }
    .style_for_pumpkin{
        width: 100px;
        height: 100%;
    }
    .count_clicks{
        margin-left: 20px;
        color: white;
        border: 10px;
        border-color: black;
    }